/* body { */
/*   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, */
/*     Arial, sans-serif; */
/*   margin: auto; */
/*   max-width: 38rem; */
/*   padding: 2rem; */
/* } */

@font-face {
  font-family: "GeistMono";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/GeistMono-Black.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: dark light;
  --bg: #1a1a1a;
  --fg: #cbcccc;
  --placeholder: #717171;
  --font: "GeistMono", ui-monospace, monospace;
  --font-size: clamp(16px, 2.5vw, 26px);
  --line-height: calc(var(--font-size) * 1.7);
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--font);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  background: var(--bg);
  color: var(--fg);
}

body {
  display: flex;
  padding: var(--line-height) 0;
}

/* App styles */

.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 20%;
  height: 100%;
  padding: 50px;
  background: var(--bg);
  color: var(--fg);
  overflow-y: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

main {
  width: 80%;
  height: 100%;
  margin: auto;
}

section {
  position: relative;
  height: calc(5 * var(--line-height));
}

textarea {
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  color: inherit;
  user-select: text;
  padding: 0;
  margin: 0;

  caret-color: #00bfff;
  line-height: 1.7;
  font-size: var(--font-size);
  font-family: var(--font);
  line-height: var(--line-height);
  font-weight: 440;

  word-wrap: break-word;
  width: 100%;
  height: calc(5 * var(--line-height));

  overflow: hidden;
}

textarea::placeholder {
  color: var(--placeholder);
}

textarea::selection {
  background: rgba(255, 255, 255, 0.0001);
}

header {
  font-weight: 600;
  font-size: 14px;
  color: var(--placeholder);
  margin-bottom: 16px;
}

.stats {
  font-size: 14px;
  color: var(--placeholder);
  margin-bottom: 16px;
}

.settings {
  font-size: 14px;
  color: var(--placeholder);
  margin-bottom: 16px;
}

.practice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.practice {
  font-size: 20px;
  font-color: #00bfff;
  color: var(--placeholder);
  letter-spacing: 0.5px;
}

.practice-overlay {
  position: relative;
}

.user-typings {
  position: absolute;
  inset: 0;

  font-size: 20px;
  font-color: #ffff00;
  color: #ffff00;
  letter-spacing: 0.5px;
}

.char {
  color: #ffff00;
}

.caret {
  display: inline-block;
  inset: 0;
  width: 2px;
  height: 20px;
  background: #ffff00;
}

.text-red-500 {
  color: #ef4444; /* Tailwind's red-500 color */
}

.text-primary-400 {
  color: #60a5fa; /* Example primary-400 color, adjust to your primary color */
}

.bg-red-500-50 {
  background-color: rgba(239, 68, 68, 0.5); /* 50% opacity of red-500 */
}

.timer {
  font-size: 20px;
  color: var(--placeholder);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(4 * var(--line-height));
  pointer-events: none;
  user-select: none;
}

.overlay div {
  width: 100%;
  height: var(--line-height);
}

.overlay div:nth-child(1) {
  backdrop-filter: blur(3.5px);
  background: rgba(26, 26, 26, 0.91);
}

.overlay div:nth-child(2) {
  backdrop-filter: blur(2.5px);
  background: rgba(26, 26, 26, 0.87);
}

.overlay div:nth-child(3) {
  backdrop-filter: blur(2px);
  background: rgba(26, 26, 26, 0.72);
}

.overlay div:nth-child(4) {
  backdrop-filter: blur(1.5px);
  background: rgba(26, 26, 26, 0.48);
}
